* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 15%;
  font-family: Verdana, sans-serif; 
}


/* HEADER */
header {
  text-align: center;
  background: #3E73A7;
  color: #fff;
  padding: 10% 5%;
  box-shadow: 6px 0px 10px #CBCBCB;
  z-index: 1;
}

header h1 {
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 3%;
}

header p {
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 3%;
}

header button {
  padding: 2% 4%;
  border: 1px solid #3E73A7;
  font-weight: 100;
  font-size: 18px;
  color: #3E73A7;;
  background: #fff;
  transition: .5s;
  cursor: pointer;
}

header button:hover {
  border: 1px solid #fff;
  color: #fff;
  background: #3E73A7;
}

/* ARTICLE */
article {
  height: 0;
  overflow: hidden;
  margin-top: -2%;
  z-index: -1;
  background: #fff;
  margin-bottom: 15%;
  box-shadow: 6px 10px 10px #CBCBCB;
}

.art {
  margin: 10%;
}

.art span {
  margin-left: 50%;
  transform: translateX(-25%);
}

.art ul {
  margin-bottom: 2%;
}

.example1 {
  text-align: center;
  color: #444;
}

.example1 h1 {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 1%;
}

.example1 p {
  font-size: 20px;
  font-weight: 100;
}

.example1 button {
  margin-top: 2%;
  padding: 2% 4%;
  border: 1px solid #3E73A7;
  font-weight: 100;
  font-size: 18px;
  color: #fff;
  background: #3E73A7;
  transition: .5s;
  cursor: pointer;
}

.example1 button:hover {
  color: #3E73A7;
  background: #fff;
}

.example1 pre {
  text-align: left;
}

.example1 code {
  max-height: 300px;
  overflowY: scroll;
}

.learn {
  text-align: center;  
}

.learn h1 {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 1%;
  color: #444
}

.learn pre {
  text-align: left;  
}

.learn code {
  max-height: 600px;
  overflowY: scroll;
}

.examples {
  text-align: center;
  background: #3E73A7;
  color: #fff;
  padding: 5%;
}

.examples h1 {
  font-size: 26px;
  margin-bottom: 5%;
}

.examples button {
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: block;
  border: 1px solid #fff;
  background: #fff;
  color: #3E73A7;
  padding: 2% 3%;
  transition: .5s;
}

.examples button:hover {
  background: #3E73A7;
  color: #fff;
}

div.html {
  text-align: center; 
  color: #444; 
}

div.html p {
  margin: 2%;
  font-weight: 300;
}

div.html h1 {
  margin: 2%;
  font-size: 22px;
}

div.html pre {
  text-align: left;
}

/* MODALS WINDOWS */
.exq1 {
  display: none;
  background: #fff;
  transform: translate(-50%, -50%);
} 

.exq1 .head {
  padding: 4%;
  background: blue;
} 

.exq1 .exit:first-child {
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: bold;
  color: #fff;
}

.alert {
  display: none;
  background: rgba(88, 255, 97, 0.6);
  padding: 2%;
  color: #444;
  text-align: center;
}

.alert .exit {
  position: absolute;
  top: 5px;
  right: 5px;  
}

.make {
  display: none;
  background: #fff;
  border: 1px solid #507299;
  color: #444;
  text-align: center;
}

.make .head {
  background: #507299;
  padding: 2%;
}

.make .exit {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
}

.make button {
  padding: 2% 4%;
  background: #507299;
  color: #fff;
  border: 1px solid #507299;
  margin: 2%;
}

.choose {
  display: none;
  background: #fff;
  border: 1px solid #507299;
  transform: translate(-50%, -50%);
  color: #444;
  text-align: center;
  padding: 5%;
}

.choose .exit {
  position: absolute;
  top: 5px;
  right: 5px;
}